
body{
   font-family: 'Montserrat', sans-serif;
}

#title{
  background-color: #ff4c68;
  color: #fff;
}
h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
.container-fluid{
  padding: 3% 15%;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding-bottom: 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.3rem;
  font-family: "Montserrat";
  font-weight: 300;
}
.download-button{
  margin: 5% 3% 5% 0;
}
.title-image{
  width: 60%;
  transform: rotate(25deg);

}
h3{
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 700;
}
p{
  color: #8f8f8f;
}
#features{
  padding: 7% 15%;
  background-color: rgb(24, 26, 27);
  color: rgb(209, 205, 199);

}
.feature-box {
  text-align: center;
  padding: 0 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
#testimonials{

  text-align: center;
  background-color: #ff4c68;
}
.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
h2{
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
}

#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 2% 3%;
}
#cta{
  padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;
}
.cta-heading{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  color: #fff;
  line-height: 1.5;
}
#footer{
  padding: 7% 12%;
  background-color: rgb(24, 26, 27);
  text-align: center;
}
.con{
    color: rgb(209, 205, 199);
    padding: 0 2%;
    margin-bottom: 40px;
}
